a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 800;
}

.bg-blue {
  color: white;
  background-color: #007bff;
}

.uppercase {
  text-transform: uppercase;
}

.font-special-light {
  color: #EEE5E9;
}

.font-dark {
  color: #CF5C36;
}

.bg-light {
  background-color: #EEE5E9;
}

.bg-orange {
  background-color: #CF5C36;
}

.full-width {
  width: 100%;
}

a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-bold {
  font-weight: 800;
}

.bg-blue {
  color: white;
  background-color: #007bff;
}

.uppercase {
  text-transform: uppercase;
}

.font-special-light {
  color: #EEE5E9;
}

.font-dark {
  color: #CF5C36;
}

.bg-light {
  background-color: #EEE5E9;
}

.bg-orange {
  background-color: #CF5C36;
}

.full-width {
  width: 100%;
}

.projects-list {
  cursor: pointer;
  padding-left: 30px;
  margin-left: 40px;
}
.projects-list li {
  padding-left: 35px;
  margin-bottom: 35px;
}

.project-link {
  display: block;
  position: relative;
  font-size: 18px;
  padding: 10px;
  width: 250px;
  margin: 0px 15px 10px 0px;
  color: #EFC88B;
  background: #CF5C36;
  text-decoration: none;
  transition: all 0.3s ease;
  transform-style: preserve-3d;
  transform: rotateX(45deg);
  transform: perspective(877px) rotateX(10deg) skew(-1deg) translate(0, 0);
  box-shadow: -24px 20px 14px #CF5C36;
  transition: all 0.5s ease-in-out;
}
.project-link::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: -20px;
  top: 10px;
  background: #EEE5E9;
  transform: rotate(0deg) skewY(-45deg);
}
.project-link::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -6px;
  height: 12px;
  width: 100%;
  transform: rotate(0deg) skewX(-45deg);
  background: #EFC88B;
}
.project-link:hover {
  transform: perspective(1000px) skew(25deg) translate(20px, -20px);
  box-shadow: -50px 50px 30px #CF5C36;
  color: #EEE5E9;
}

.project-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #EEE5E9;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.project-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.project-link:active::before {
  background-color: #2980b9;
}

.data-divider {
  height: 100%;
  width: 1px; /* Set the desired width of the divider */
  background-color: #ccc; /* Set the desired color of the divider */
}

.skills-data {
  position: relative;
  text-align: center;
}
.skills-data .data-wrapper {
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: transform 0.5s ease;
  transform-origin: 100% 50%;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: rgba(255, 255, 255, 0.457);
}
.skills-data .skills-row {
  padding: 20px;
}
.skills-data .left-divider,
.skills-data .right-divider {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.skills-data .skill-section {
  position: relative;
}

.left-column {
  animation: openFlapLeft 4s linear forwards;
}

@keyframes openFlapLeft {
  0% {
    transform: perspective(168px) rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
.right-column {
  animation: openFlapRight 4s linear forwards;
}

@keyframes openFlapRight {
  0% {
    transform: perspective(500px) rotateY(90deg) translateX(-20%);
    transform-origin: 0% 50%;
  }
  100% {
    transform: rotateY(0deg);
  }
}
.divider {
  width: 0.5% !important;
}
.divider::before {
  content: "";
  position: absolute;
  width: 6px !important;
  top: 0;
  left: 50%;
  background-color: gray;
  height: 100%;
  transform: translateX(-50%);
}

@media only screen and (min-width: 420px) and (max-width: 567px) {
  .nav-sidebar {
    width: 180px !important;
  }
  .nav-sidebar .navbar-brand {
    margin-top: 0px;
    font-size: 22px !important;
  }
  .nav-list-item {
    padding: 6px 20px !important;
    margin-bottom: 20px;
  }
  .nav-list-item span {
    font-size: 18px !important;
    padding: 5px 10px !important;
  }
  .name-header {
    font-size: 16px !important;
  }
  .home-text {
    font-size: 14px;
    padding-inline: 0 35px;
  }
  .download-cv {
    padding: 6px 18px;
    margin-bottom: 10px;
  }
  .footer_wrapper {
    text-align: center;
  }
  .footer_wrapper p, .footer_wrapper a {
    font-size: 14px !important;
  }
  .footer_wrapper .footer-header {
    font-size: 18px !important;
  }
  .footer_wrapper .footer_list {
    justify-content: center;
  }
  .footer_wrapper .footer-icon {
    font-size: 32px !important;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 577px) and (max-width: 767px) {
  .name-header {
    font-size: 20px;
  }
  .home-text {
    font-size: 14px;
    padding: 10px 4px;
    padding-inline: 0 74px;
  }
  .download-cv {
    padding: 6px 18px;
    margin-bottom: 10px;
  }
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .name-header {
    font-size: 23px;
  }
  .home-text {
    font-size: 14px;
    padding-inline: 0 10px;
  }
  .download-cv {
    padding: 6px 18px;
    margin-bottom: 10px;
  }
  .about-header {
    font-size: 28px;
  }
  .about-icon {
    font-size: 24px !important;
  }
  .about-me-header {
    font-size: 20px !important;
  }
  .about-image-section::before {
    display: none;
  }
  .my-img {
    width: 80%;
  }
  .experience {
    padding: 11px 6px !important;
    width: 300px !important;
    right: 34px !important;
    bottom: -16px !important;
  }
  .experience .exp-icon {
    font-size: 22px !important;
    left: 35px !important;
    top: 8px !important;
  }
  .experience .experience-years {
    font-size: 20px;
  }
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-image-section .about-icon {
    font-size: 30px;
    padding: 2px 8px;
  }
  .about-image-section .about-me-header {
    font-size: 20px !important;
  }
  .about-image-section::before {
    display: none;
  }
  .about-image-section::before {
    top: -150px;
    right: 0px;
    width: 200px !important;
    height: 200px !important;
  }
  .experience {
    position: absolute;
    padding: 20px 10px;
    width: 360px;
    border-radius: 6px;
    right: 79px;
    bottom: -25px;
    text-align: center;
    background: #CF5C36;
  }
  .experience .exp-icon {
    font-size: 30px;
    position: absolute;
    left: 70px;
    top: 7px;
    background: rgba(239, 200, 139, 0.3411764706);
    color: #EEE5E9;
    padding: 0px 6px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .about-image-section::before {
    top: -150px;
    right: 0px;
  }
}
.layout-container {
  padding: 0 !important;
}

.nav-sidebar {
  color: white !important;
  background: #CF5C36 !important;
  width: 230px;
}
.nav-sidebar .navbar-brand {
  margin-top: 30px;
  margin-left: 10px;
  font-size: 30px;
  color: white;
}
.nav-sidebar .navbar-brand:hover {
  color: white;
}

.nav-list-item {
  padding: 14px 30px;
  border: 1px solid rgba(255, 255, 255, 0.4901960784);
  color: #ffffff;
  margin-bottom: 20px;
  position: relative;
  border-radius: 5px;
}
.nav-list-item .nav-name {
  margin-left: 30px;
}
.nav-list-item span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 25px;
  padding: 7px 10px;
  margin-right: 10px;
  color: #CF5C36;
  background-color: #EEE5E9;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.nav-list-item:hover {
  border-color: #EEE5E9;
}
.nav-list-item:hover .nav-name {
  color: #EEE5E9 !important;
}
.nav-list-item:hover span {
  background-color: #EEE5E9 !important;
}

.content-wrapper {
  flex: 1;
  padding: 0;
  margin: 0;
  padding-top: 50px;
  color: rgb(0, 0, 0);
  background-color: #EEE5E9;
}

.homepage-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: 100%;
  height: 400px;
}

.download-cv {
  outline: none;
  border: none;
  color: white;
  background: #CF5C36;
  padding: 10px 24px;
  border-top-left-radius: 56px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 56px;
  border-top-right-radius: 10px;
}

@keyframes changeWord {
  0% {
    opacity: 1;
    transform: translateY(50%);
  }
  100% {
    opacity: 0;
    transform: translateY(0%);
  }
}
.word-transition {
  animation: changeWord 3s ease-in-out infinite forwards;
}

.about-section-details .about-icon {
  font-size: 30px;
  color: #EEE5E9;
  background: #CF5C36;
  padding: 2px 8px;
  border-radius: 8px;
}
.about-section-details .about-me-header {
  display: inline-block;
  margin-left: 15px;
}
.about-section-details .about-list {
  margin-bottom: 25px !important;
}

.about-image-section {
  position: relative;
}
@keyframes aboutMini {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}
.about-image-section::before {
  position: absolute;
  content: "";
  background: url(https://wp.shsarker.xyz/zyan/wp-content/themes/zyan/assets/img/shapes/about_shapes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 250px;
  height: 250px;
  filter: invert(1);
  animation: aboutMini linear 900ms infinite alternate;
  color: #CF5C36;
}

.experience {
  position: absolute;
  padding: 20px 10px;
  width: 360px;
  border-radius: 6px;
  right: 79px;
  bottom: -25px;
  text-align: center;
  background: #CF5C36;
}
.experience .exp-icon {
  font-size: 30px;
  position: absolute;
  left: 70px;
  top: 7px;
  background: rgba(239, 200, 139, 0.3411764706);
  color: #EEE5E9;
  padding: 0px 6px;
}

.footer_wrapper {
  color: white;
  background-color: black;
  padding: 60px 0;
}
.footer_wrapper a {
  color: white;
  text-decoration: none;
}
.footer_wrapper .footer-header {
  color: #EFC88B;
}
.footer_wrapper .footer_list {
  font-size: 40px;
  gap: 20px;
}

.contact_form {
  text-align: center;
  margin-top: 20px;
  border: none;
}
.contact_form fieldset {
  border: 2px solid #CF5C36;
  padding: 20px;
  border-radius: 10px;
}
.contact_form fieldset legend {
  font-size: 24px;
  font-weight: bold;
  color: #DEB786;
  margin-bottom: 20px;
}
.contact_form fieldset .input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.contact_form fieldset .input-group div {
  flex: 0 0 48%;
  text-align: left;
}
.contact_form fieldset .input-group div label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.contact_form fieldset .input-group div input,
.contact_form fieldset .input-group div textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #CF5C36;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
.contact_form fieldset .input-group div button {
  background-color: #CF5C36;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.contact_form fieldset .input-group div button:hover {
  background-color: #9b885e;
}
.contact_form fieldset .message-label {
  font-weight: 800 !important;
}
.contact_form fieldset .form_message {
  width: 100%;
  height: 100px;
  padding: 8px;
  border: 1px solid #CF5C36;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
}
.contact_form button {
  background-color: #CF5C36;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.contact_form button:hover {
  background-color: #9b885e;
}/*# sourceMappingURL=mainstyle.css.map */